*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* main div max-width = 960px */
.mainDivWidth{
    width: 960px;
    margin: 0 auto;
}

/* Slider part */


.carousel-indicators li{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(155, 112, 112);
}

.carousel-indicators li:hover{
    background-color: rgb(0, 0, 0);
}

/* end of slider part */

.imgSize{
    width: 100%;
    height: 165px;
}

.imgSize img{
    height: 100%;
    width: 100%;
}

/* Get Content Part */

.getContent{
    background: #2C3C62;
    height: 470px;
}

.getTitle h2{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

.get2ndTitle{
    font-family: cursive;
    font-size: 18px;
}

/* Get Input Step */

#GetInputStep{
    
}

#Get1stInputStep label{
    color: white;
    display: block;
    padding: 4px;
    font-size: 20px;
}

#Get1stInputStep input{
    height: 50px;
    width: 100%;
}

/*  */

#Get2ndInputStep label{
    color: white;
    display: block;
    padding: 4px;
    font-size: 20px;
}

#Get2ndInputStep select{
    height: 50px;
    width: 100%;
    font-family: cursive;
}

/*  */

#Get3rdInputStep label{
    color: white;
    display: block;
    padding: 4px;
    font-size: 20px;
}

#Get3rdInputStep input{
    height: 50px;
    width: 100%;
}

/*  */

#getButton button{
    width: 200px;
    background-color: #C06814;
    padding: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*  */

.G4{
    background: #C0F8FF;
    width: 50%;
    margin: 0 auto;
}

.G4 h4{
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0px;
} 

#G4imgP p{
    background: #F7F8F2;
    padding: 5px;
}

/* trial photos part */

.trialContent{
    background-color: #009B97;
    height: 500px;
}

.trialContent h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.trialContent p{
    font-family: cursive;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#available p{
    font-size: 14px;
    margin-top: 119px;
}
/*  */

#dragTitle{
    background-color: rgb(255, 255, 255);
    height: 280px;
    padding: 7px;
}

#dragTitle span{
    font-size: 11px;
    font-weight: bold;
    width: 0%;
    color: #d1c3bc;
}

.dragBorder{
    border: 1px dashed red ;
}

.dragBorder img{
    margin-top: 40px;
    width: 80%;
    height: 40px;
}

.file-upload{
    width: 100%;
    color: red;
}

#dragTitle h5{
    color: #d1c3bc;
}

/*  */

#why1stPart{
    background-color: #F5F5F5;
}

#why1stPart h1{
    padding: 2px;
    color: #1A8BCD;
    font-weight: bold;
}

#why1stPart p{
    padding: 5px;
}

/* 1st box */

#boxShadow{
    margin-left: 200px;
    margin-right: 100px;
}

#box1{
    margin-bottom: 5px;
    background: #F5F5F5;
    width: 100%;
    height: 171px;
    box-shadow: 4px 4px 8px 5px black;
    border-radius: 8px;
}

#box1 h2{
    color: #02aa97;
    font-weight: bold;
    font-size: 27px;
}

#box1 img{
    width: 100%;
}

/*  Print meedia part */

.mainWrapDiv{

}

.mainWrapDiv .wrapColor{
    background: #322433;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    color: #0691EE;
    font-size: 24px;
}

/* GD Some Works */

#GDSome{
    background: #223A60;
}

#GDSome h1{
    font-size: 60px;
    font-weight: bolder;
}

/* GD Some Works Slider*/

#mainImg{
    width: 700px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

#mainImg img{
    width: 100%;
    border: 1px solid blue;
}

#allImg{
    /* width: 100px;
    height: 100px;
    margin: 0 auto; */
    margin-top: 20px;
    overflow: hidden;
}

#allImg img{
    width: 126px;
    height: 110px;
    /* display: inline-block; */
    border: 1px solid blue;
    opacity: 0.6;
}

#allImg img:hover{
    opacity: 1;
}

/* GD Some Works slider */

.PriceTitle h1{
    background: #F7F7F7;
    color: #87868B;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

/* Best Prices row Part */
#bestRow{
    /* overflow: hidden; */
}
    /* float: left; */
/* } */
.rowAll{
    /* float:left; */
    /* width: 960px; */
    /* display: block; */
}

.col{
    width: 234px;
    float: left;
    border-right: 1px solid #fff;
    
}

.marginBottom{
    border-bottom: 1px solid;
}

.bestTitle{
    background: #2A92CF;
    text-align: center;
    padding:8px;
    color: #fff;
    font-size: 14px;
}

.bestTitle2{
    background: #F9F9F9;
    text-align: center;
    padding:8px;
    font-size: 14px;
}

.colRadius{
    background: #F7F7F7;
    height: 172px;
    width: 100%;
    padding:15px;
}

.colRadius .radius{
 border-radius: 50%;
 border: 2px solid #197CB7;
 background: #fff;
 height: 103%;
 width: 74%;
}

.innerPart h1{
    font-size: 20px;
    color: #8D95A2;
}
.innerPart p{
    font-size: 12px;
    color: #C8C6D1;
}


.Order h1{
    font-size: 30px;
    color: #FCFEFD;
    background: #6E6D69;
    padding: 5px;
}

/* last part */

.childDiv h2{
    color: #2C98D6;
    font-size: 25px;
    font-weight: bold;
}

.childDiv h3{
    color: #2C98D6;
}

.childDiv h4{
    color: #2C98D6;
}

.childDiv h5{
    color: #2C98D6;
}

.childDiv p{
    color: #B1B6B2;
}

/* footer part */

.footer{
    background: #E5E4E9;
    padding: 15px;
}

.footer span a {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

/* End Of Design */